.admin-container {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  transition: margin-left 0.3s ease;
  padding: 0rem;
  background: linear-gradient(135deg, #8724ff, #a32aff);
  margin-left: 80px; /* Ancho del sidebar colapsado */
}

.admin-content-no-sidebar {
  flex: 1;
  transition: margin-left 0.3s ease;
  padding: 0rem;
  background: linear-gradient(135deg, #8724ff, #a32aff);
  margin-left: 0px; /* Ancho del sidebar colapsado */
}

.admin-content.sidebar-open {
  margin-left: 280px;
}

@media (max-width: 768px) {
  .admin-content {
    margin-left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0px; /* Espacio para el botón de toggle */
  }

  .admin-content.sidebar-open {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .admin-content {
    margin-left: 0;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0px; /* Espacio para el botón de toggle */
  }
}
